<mat-card>
  <mat-card-header>
    <mat-card-title>Payroll Dashboard</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <!-- Summary Stats -->
    <mat-card-subtitle>Summary</mat-card-subtitle>
    <div>
      <mat-chip-set>
        <mat-chip>Active Employees: {{ activeEmployeeCount() }}</mat-chip>
        <mat-chip
          >Last Payroll Cost: {{ lastPayrollCost() | currency }}</mat-chip
        >
      </mat-chip-set>
    </div>

    <!-- Pay Periods -->
    <mat-card-subtitle>Pay Periods</mat-card-subtitle>
    <mat-list>
      @for (period of payPeriods(); track period.id) {
      <mat-list-item>
        <span matListItemTitle
          >{{ period.startDate }} - {{ period.endDate }}</span
        >
        <span matListItemMeta>
          <mat-chip
            [color]="
              period.status === PayPeriodStatus.Pending ? 'warn' : 'primary'
            "
            highlighted
          >
            {{ period.status }}
          </mat-chip>

          @if (period.status === PayPeriodStatus.Pending) {
          <button mat-button color="primary" (click)="processPayroll(period)">
            Process
          </button>
          }
        </span>
      </mat-list-item>
      <mat-divider></mat-divider>
      }
    </mat-list>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="primary" (click)="navigateToPayroll()">
      View Payroll
    </button>
    <button mat-button color="primary" (click)="navigateToEmployees()">
      View Employees
    </button>
  </mat-card-actions>
</mat-card>
