<app-payroll-toolbar
  (filterChange)="updateFilteredPayslips()"
  (addPayPeriod)="addNewPayPeriod()"
>
</app-payroll-toolbar>

<mat-list>
  @for (item of filteredPayslips(); track item.payslip.id) {
  <mat-list-item (click)="onPayslipClick(item.payslip)">
    <span matListItemTitle>{{ item.employeeName }}</span>
    <span matListItemLine>
      Period: {{ item.payslip.periodId }} | Net Pay:
      {{ item.payslip.netPay | currency }}
    </span>
    <div matListItemMeta>
      <mat-chip
        [color]="
          item.periodStatus === PayPeriodStatus.Pending ? 'warn' : 'primary'
        "
        highlighted
      >
        {{ item.periodStatus }}
      </mat-chip>
      <button
        mat-icon-button
        (click)="regeneratePayslip(item.payslip); $event.stopPropagation()"
      >
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  }
</mat-list>
