<div class="app-container">
  <app-header (toggleSidenav)="toggleSidenav()"></app-header>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sidenav
      [mode]="'over'"
      [opened]="isSidenavOpen()"
      (opened)="isSidenavOpen.set(true)"
      (closed)="isSidenavOpen.set(false)"
      [autoFocus]="false"
    >
      <app-sidenav [onClose]="closeSidenav.bind(this)"></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content></ng-content>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
