<h2 mat-dialog-title>
  {{
    isNewEmployee ? "Add New Employee" : employee?.name || "Employee Profile"
  }}
</h2>
<mat-dialog-content>
  @let isEditing = editMode; @if (isEditing) {
  <form [formGroup]="employeeForm">
    <!-- Personal Info -->
    <div>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="hasError('name', 'required')"
          >Name is required</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Role</mat-label>
        <input matInput formControlName="role" />
        <mat-error *ngIf="hasError('role', 'required')"
          >Role is required</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Department</mat-label>
        <input matInput formControlName="department" />
      </mat-form-field>
    </div>

    <!-- Contact Info -->
    <div>
      <h3>Contact</h3>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="hasError('email', 'required')"
          >Email is required</mat-error
        >
        <mat-error *ngIf="hasError('email', 'email')"
          >Please enter a valid email address</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phoneNumber" />
        <mat-error *ngIf="hasError('phoneNumber', 'pattern')"
          >Please enter a valid phone number</mat-error
        >
      </mat-form-field>
    </div>

    <!-- Employment Details -->
    <div>
      <h3>Employment Details</h3>
      <mat-form-field>
        <mat-label>Country</mat-label>
        <mat-select formControlName="country">
          @for (country of countries; track country.code) {
          <mat-option [value]="country.code">{{ country.name }}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="hasError('country', 'required')"
          >Country is required</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Hire Date</mat-label>
        <input
          matInput
          [matDatepicker]="hireDatePicker"
          formControlName="hireDate"
          (dateChange)="onDateChange($event)"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="hireDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #hireDatePicker></mat-datepicker>
        <mat-error *ngIf="hasError('hireDate', 'required')"
          >Hire date is required</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          @for (status of employeeStatuses; track status) {
          <mat-option [value]="status">{{ status }}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="hasError('status', 'required')"
          >Status is required</mat-error
        >
      </mat-form-field>
    </div>
  </form>
  } @else if (!isNewEmployee && employee) {
  <!-- Non-Editing Layout (only for existing employees with employee defined) -->
  <mat-list>
    <mat-list-item>
      <img matListItemAvatar />
      <span matListItemTitle>{{ employee.role }}</span>
      <span matListItemLine>{{ employee.department || "N/A" }}</span>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>contact_mail</mat-icon>
      <span matListItemTitle>Contact:</span>
      <span matListItemLine>Email: {{ employee.email }}</span>
      <span matListItemLine>Phone: {{ employee.phoneNumber || "N/A" }}</span>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>work</mat-icon>
      <span matListItemTitle>Employment Details:</span>
      <span matListItemLine
        >Country: {{ getCountryName(employee.country) }}</span
      >
      <span matListItemLine>Hire Date: {{ employee.hireDate | date }}</span>
      <span matListItemLine>Status: {{ employee.status }}</span>
    </mat-list-item>
  </mat-list>
  }
</mat-dialog-content>

<mat-dialog-actions>
  @let isEditingActions = editMode; @if (isEditingActions) {
  <button mat-button (click)="toggleEditMode()" *ngIf="!isNewEmployee">
    Cancel
  </button>
  <button mat-button (click)="dialogRef.close()" *ngIf="isNewEmployee">
    Cancel
  </button>
  <button mat-button [disabled]="employeeForm.invalid" (click)="saveChanges()">
    Save
  </button>
  } @else if (employee) {
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button (click)="toggleEditMode()">Edit</button>
  }
</mat-dialog-actions>
