.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.avatar-container {
  display: flex;
  justify-content: center;
}

.avatar-icon {
  font-size: 8rem;
  height: 8rem;
  width: 8rem;
}

mat-dialog-title {
  text-align: center;
  margin-bottom: 1rem;
}

mat-dialog-content {
  width: 100%;
  margin-bottom: 1rem;
}

mat-dialog-actions {
  justify-content: space-between;
  width: 100%;
}
