<mat-toolbar>
  <mat-toolbar-row class="search-row">
    <mat-form-field>
      <input matInput placeholder="Search" (input)="onSearch($event)" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <span style="flex: 1 1 auto"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu button">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="filterMenu">
        <mat-icon>filter_list</mat-icon>
        <span>Filters</span>
      </button>
      <button mat-menu-item (click)="addPayPeriod.emit()">
        <mat-icon>add</mat-icon>
        <span>Add Pay Period</span>
      </button>
    </mat-menu>

    <!-- Dynamic filter submenu -->
    <mat-menu #filterMenu="matMenu">
      @for (type of filterTypes; track type) {
      <div mat-menu-item>
        <mat-checkbox
          (change)="filterService.toggleFilter(type); filterChange.emit()"
          [checked]="filterService.selectedFilters().includes(type)"
        >
          {{ type }}
        </mat-checkbox>
      </div>
      }
      <mat-divider></mat-divider>
      <button
        mat-menu-item
        (click)="filterService.clearFilters(); filterChange.emit()"
        [disabled]="filterService.selectedFilters().length === 0"
      >
        <span>Clear Filters</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>

  <!-- Filter Chips Row -->
  @if (filterService.selectedFilters().length > 0) {
  <mat-toolbar-row class="chip-container">
    @for (filter of filterService.selectedFilters(); track filter) {
    <mat-chip highlighted color="primary">
      {{ filter }}
      <button
        matChipRemove
        (click)="filterService.removeFilter(filter); filterChange.emit()"
      >
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    }
  </mat-toolbar-row>
  }
</mat-toolbar>
