<!-- TODO: Search and Filters -->

<mat-selection-list [multiple]="false" hideSingleSelectionIndicator="true">
  @for (employee of employees(); track employee.id) {
  <mat-list-option [value]="employee" (click)="onEmployeeClick(employee)">
    <mat-icon matListItemAvatar></mat-icon>
    <span matListItemTitle>{{ employee.name }}</span>
    <span matListItemLine
      >{{ employee.department }} - {{ employee.role }}
    </span>
    <span>{{ employee.status }}</span>

    <mat-divider [inset]="true"></mat-divider>
  </mat-list-option>
  }
</mat-selection-list>
