<div>
  <!-- Metrics Row -->
  <div>
    <mat-card>
      <mat-card-content>
        <mat-card-subtitle>Summary</mat-card-subtitle>
        <mat-chip-set>
          <mat-chip>Active Employees: {{ activeEmployeeCount() }}</mat-chip>
          <mat-chip
            >Last Payroll Cost: {{ lastPayrollCost() | currency }}</mat-chip
          >
        </mat-chip-set>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Chart Row -->
  <div>
    <app-payroll-chart></app-payroll-chart>
  </div>

  <!-- Pay Periods Row -->
  <div>
    <app-pay-period-list
      [payPeriods]="payPeriods()"
      [expandable]="false"
      (processPayroll)="processPayroll($event)"
      (periodClick)="navigateToPayrollWithPeriod($event)"
    ></app-pay-period-list>
  </div>

  <!-- Actions Row -->
  <div>
    <mat-card>
      <mat-card-actions>
        <button mat-button color="primary" (click)="navigateToPayroll()">
          View Payroll
        </button>
        <button mat-button color="primary" (click)="navigateToEmployees()">
          View Employees
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
